<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rvir.filmi.filmi" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".filmi.FilmiActivity"
            android:label="Filmi"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".film.FilmActivity"
            android:label="@string/title_activity_film"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".uporabnik.Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".uporabnik.Registracija"
            android:label="@string/title_activity_registracija"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".seznami.SeznamiActivity"
            android:label="@string/title_activity_seznami"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".uporabnik.PrijateljiActivity"
            android:label="@string/title_activity_prijatelji"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".film.AddKritikaActivity"
            android:label="@string/title_activity_add_kritika"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
